/* ==========================================================================
   Custom skin
   ========================================================================== */


/* Colors */
$background-color: #3c3b3b !default;
$text-color: #dedede !default;
$muted-text-color: #e0bc81 !default;
$primary-color: #faf9d8 !default;
$border-color: mix(#fff, #3c3b3b, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #e0bc81 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #3c3b3b !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

a{
  font-weight: bold;
}
